.farmProfile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    background-color: white;
}

.farmInfo {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 10px 10px;
}

.farmName {
    display: flex;
    flex-direction: column;
}

.farmCoverImage {
    display: flex;
}

.farmDescription {
    display: flex;
    padding: 5px 5px;
}