.farmExplorer {
    display: flex;
    width: 100vw;
    flex-flow: column;
}

.farmExplorerHeading {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 65px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 12px;
    background-color: white;
}

.farmExplorerContent {
    display: flex;
    width: 100vw;
    flex-flow: column;
    gap: 12px;
}