.cardContainer {
  width: 136px;
  white-space: normal;
}

.cardContainerLarge {
  width: 48vw;
  white-space: normal;
}

.imageContainer {
  position: relative;
}

.imageContainer.square {
  aspect-ratio: 1;
}

.imageContainer.fourByThree {
  aspect-ratio: 4/3;
}

.image {
  object-fit: cover;
}

.imageRadius {
  border-radius: 8px;
  object-fit: cover;
}

.productInfoContainer {
  padding: auto;
}

.productInfoContainerWithPadding {
  padding: 8px 12px 8px 12px;
}

.productName {
  color: #333333;
  display: flex;
  overflow: hidden;
  min-height: 48px;
  margin-top: 8px;
}

.productPrice {
  color: #3A6F05;
  font-weight: 500;
}

.numberSold {
  font-size: 12px;
}

.productLocation {
  display: flex;
  align-items: center;
  gap: 0.25em;
  color: #999999;
  font-size: 0.75em;
}

.productLocationText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}