@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hotdi-primary-color: #3A6F05;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --adm-color-primary: #D46B08 !important;
  --adm-color-success: #3A6F05 !important;
  --adm-color-text-secondary: #999999 !important;
  --adm-font-family: var(--font-be-vietnam-pro) !important;
}

.adm-tabs {
  --active-line-color: var(--hotdi-primary-color) !important;
  --active-title-color: var(--hotdi-primary-color) !important;
}

.adm-tabs-tab-list {
  background-color: white;
}

.adm-tabs-tab-wrapper {
  padding: 0 24px !important;
}

.adm-tabs-content {
  --content-padding: 8px 0px 8px 0px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1 {
  font-family: var(--font-be-vietnam-pro);
  color: #3A6F05;
  font-weight: bold;
  font-size: 20px;
  line-height: normal;
  word-spacing: 0;
}

h2 {
  font-family: var(--font-be-vietnam-pro);
  color: #3A6F05;
  font-weight: medium;
  font-size: 20px;
  line-height: normal;
  word-spacing: 0;
}

a {
  font-family: var(--font-be-vietnam-pro);
  color: #D46B08 !important;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  word-spacing: 0;
}

.app {
  font-family: var(--font-be-vietnam-pro);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.top {
  font-family: var(--font-be-vietnam-pro);
  flex: 0;
  border-bottom: solid 1px var(--adm-color-border);
  height: 64px;
  top: 0;
  /* this is required for "sticky" to work */
  position: sticky;
  background-color: white;
  z-index: 1;
}

.body {
  font-family: var(--font-be-vietnam-pro);
  flex: 1;
  overflow-y: scroll;
  background-color: #F5F5F5;
}

.gap-12 {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.bottom {
  font-family: var(--font-be-vietnam-pro);
  flex: 0;
  border-top: solid 1px var(--adm-color-border);
  height: 58px;
  position: sticky;
  bottom: 0;
  background-color: white;
  z-index: 1;
}

.adm-search-bar {
  --height: 40px !important;
}

.adm-nav-bar {
  padding: 12px !important;
  --height: 64px !important;
}

.adm-nav-bar-left,
.adm-nav-bar-right {
  flex: 0 !important;
}

.adm-image-uploader-space {
  overflow: auto;
  flex-wrap: nowrap !important;
  width: 100vw;
}

.adm-image-uploader-cell-mask-message {
  display: none !important;
}